@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 70vw;
    height: 12vw;
    margin-bottom: 2vw;
    background-color: rgba(58, 58, 58, 0.0);
    .image{
        z-index: -1;
        position: relative;
        width: 10vw;
        height: 10vw;
        margin-left: 1vw;
    }
    .info{
        margin-left: 2vw;
        h1{
            font-family: "Work Sans";
            font-weight: 400;
            font-size: 26px;
        }
        p{
            font-family: "Barlow";
            font-weight: 300;
            font-size: 14px;
            color: rgb(171, 171, 171);
        }
        h2{
            font-family: "Inter";
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.container:hover{
    background-color: rgba(58, 58, 58, 0.2);
    cursor: pointer;
}

@media only screen and (max-width: 850px){
    .container{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 90vw;
        height: 15vh;
        margin-bottom: 8vh;
        background-color: rgba(58, 58, 58, 0.0);
        .image{
            z-index: -1;
            position: relative;
            width: 15vh;
            height: 15vh;
            margin-left: 1vw;
        }
        .info{
            width: 55vw;
            margin-left: 2vh;
            h1{
                font-family: "Work Sans";
                font-weight: 400;
                font-size: 20px;
                padding:0;
                margin: 0;
                padding-top: 10px;

            }
            p{
                font-family: "Barlow";
                font-weight: 500;
                font-size: 12px;
                color: rgb(171, 171, 171);
                padding:0;
                margin: 0;
            }
            h2{
                font-family: "Inter";
                font-weight: 300;
                font-size: 14px;
                padding:0;
                margin: 0;
                padding-top: 10px;
            }
        }
    }
}
