@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

// body {
//   animation: theme 21s linear infinite;
//   scroll-behavior: smooth;
  
//   &:after,
//   &:before {
//       content: '';
//       display: block;
//       position: fixed;
//       z-index: -1;
//       top: 0;
//       width: 100vw;  // IE/Edge
//       height: 100vh; // fallback
//       width: 100vmax;
//       height: 100vmax;
//       background: rgba(0, 0, 0, 0.299);
//       animation: background 90s linear infinite;
//   }

//   &:after {
//       left: 15vw;
//   }

//   &:before {
//       right: 15vw;
//       animation-delay: -30s;
//       animation-direction: reverse;
//   }
// }

// @keyframes theme {
//   0% {
//       background: #20253B;
//   }
  
//   16% {
//       background: #1D2739;
//   }
  
//   33% {
//       background: #192A37;
//   }
  
//   50% {
//       background: #162C36;
//   }
  
//   66% {
//       background: #192A38;
//   }    
  
//   83% {
//       background: #1D273A;
//   }

//   100% {
//       background: #20253B;
//   }
// }

// @keyframes background {
//   0% {
//       transform: rotate(0deg);
//   }
  
//   100% {
//       transform: rotate(360deg);
//   }
// }


a {
	color: #ffffff;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
